streamlit
python-dotenv
langchain>=1.0.0
langchain-openai
langchain-core
langchain-community
langchain-chroma
langchain-huggingface
chromadb
pypdf
transformers==4.51.3
rank-bm25
datasets
ragas
langfuse
pytest
pandas

fastapi
uvicorn[standard]
python-multipart
sentence-transformers
scikit-learn